@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.title {
    &__subtitle {
        @include title;
        font-size: 16px;
        text-align: center;
        &_white {
            @include title;
            color: $white;
        }
        &_about {
            @include title;
            padding-left: 12px;
            padding-top: 1px;
        }
        &_resume{
            @include title;
            text-align: center;
        }
    }
    &__promo {
        @include title;
        margin-top: 10px;
        font-size: 48px;
        line-height: 125%;
        color: $white;
        width: 520px;
    }
    &__about {
        @include title;
        font-size: 36px;
        line-height: 167%;
    }
    &__resume {
        @include title;
        font-size: 36px;
        line-height: 167%;
        text-align: center;
    }
    &__skill {
        @include title;
        font-size: 14px;
    }
    &__skills {
        @include title;
        font-size: 36px;
        line-height: 167%;
        text-align: center;
    }
    &__column {
        @include title;
        font-size: 20px;
        line-height: 30px;
    }
}